* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
  background: #ffffff;
  justify-content: center;
  padding: 20px;
}

.container {
  display: flex;
  width: 100%;
  background: rgb(220, 217, 213);
  border-radius: 10px;
  overflow: hidden;
  padding-right: 20px;
}

.sidebar {
  width: 35%;
  background: #151b22;
  padding: 20px;
  text-align: center;
}

.profile img {
  border-radius: 20%;
  margin-bottom: 10px;
  padding: 10px;
}

.header1 {
  font-size: 1.5em;
  color: #dbe3e8;
  padding: 10px 0;
}

.header2 {
  font-size: 2.5em;
  color: #000000;
  border-bottom: 2px solid #000000;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.header3 {
  background: #66859c;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 1em;
  background: #7e93a3;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  font-size: 1em;
  background: #7e93a3;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.content {
  width: 65%;
  padding: 20px;
}

.list li {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  word-break: break-word;
  max-width: 100%;
}

.list li::before {
  content: attr(data-icon);
  margin-right: 8px;
  flex-shrink: 0;
}
